.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
